################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/opticFiberProject2021-main/OpticFiberTest_ver6/.vs/OpticFiberTest_ver1/v15/Server/sqlite3
/opticFiberProject2021-main/OpticFiberTest_ver6/OpticFiberTest_ver1/bin/x64/Debug/**
/opticFiberProject2021-main/OpticFiberTest_ver6/OpticFiberTest_ver1/obj/x64/Debug/**
