################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/opticFiberProject2021-main/OpticFiberTest_ver6/.vs/OpticFiberTest_ver1/v15/Server/sqlite3
